lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node js
node_modules
npm-debug.log

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# development
.env
.eslintcache
dist
etc
tmp
