lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

# node js
node_modules
npm-debug.log

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# eslint
.eslintcache
.eslintignore
.eslintrc.js

#development
.babelrc
.editorconfig
.env
.travis.yml
*.test.js
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DEVELOPMENT.md
TODO
__snapshots__
__tests__
coverage
docs
etc
examples
jest.config.js
scripts
