# babel (babel generator)
.babelrc
.babelrc.js
babel.config.js

# eslint (eslint generator)
.eslintcache
.eslintignore
.eslintrc.js

# jest (jest generator)
.jest.init.js
coverage
jest.config.js
__mocks__
__snapshots__
__tests__
tests
*.test.js

# npm (npm generator)
node_modules
npm-debug.log

# package (package generator)
*.csv
*.dat
*.gz
*.log
*.out
*.pid
*.seed
lib-cov
logs
pids
results

# IntelliJ resources
*.iml
*.ipr
*.iws
.idea

# mac
.DS_Store

# codecov
.codecov.yml

# docker
dbuild
dexec
docker-compose.yml
Dockerfile

# editorconfig
.editorconfig

# github
.github
.gitignore

# lintstaged
.lintstagedrc.json

# travis
.travis.yml

# prettier (pretter generator)
.prettierignore
prettier.config.js

# scaffold (scaffold generator)
configs
generators
scaffold.js

# utils project (project generator)
.env
CODE_OF_CONDUCT.md
CONTRIBUTING.md
DEVELOPMENT.md
RELEASE.md
TODO
docs
etc
examples
scripts
src
